<% title "Configure 2FA" %>
<h2 class="text-4xl">2FA Configuration</h2>
<p>
    You will only have to do this once.
    <br />
    This is so we can confirm it is actually you when you are linking accounts!
</p>
<div class="flex justify-center pt-4">
    <%= raw @svg %>
</div>
<form>