<% title "Configure 2FA" %>
<h2 class="text-4xl">2FA Configuration</h2>
<p>
    You will only have to do this once.
    <br />
    This is so we can confirm it is actually you when you are linking accounts!
</p>
<div class="flex justify-center pt-4">
    <%= raw @svg %>
</div>

<div class="flex flex-col items-center py-2" data-controller="otpValidate" data-otpValidate-redirectUrl="/oauth2/verify/redirect" data-otpValidate-incorrect="Your OTP is invalid. Try entering it again, or rescanning the QR">
    <input data-otpValidate-target="input" placeholder="OTP Code"/>
    <div data-otpValidate-target="errorMessage"></div>
    <a data-action="click->otpValidate#validate" class="button filled" type="button">Validate</a>
</div>