<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    :root {
      --primary: #ec3750;
    }
    a {
      color: var(--primary);
      text-decoration: underline;
      text-underline-position: under;
    }

    a:focus,
    a:hover {
      text-decoration-style: wavy;
      text-decoration-skip-ink: none;
    }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
